html, body 
{
    margin: 0;
    padding: 0;
}





/*CONTENU !!!!!!!!!!!!!!!*/


#grosbloc
{
    width: 990px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}



.seea
{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-align: right;
    color: black;
}


.ima
{
    width: 310px;
    height: 199px;
    
}
#gallery > img 
{
    float: left;
    margin-right: 30px;
    margin-bottom: 30px;
}

#gallery > img:nth-child(even)
{
    margin-right: 0px;
}

#gallery>a
{
    display: block ;
    float: left;
    margin-bottom: 30px;
    margin-left: 30px;
    width: 310px;
    text-align: center;
}

#gallery
{
    margin-left: -30px;
}

a
{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    

}






/* fin */



