/* mise en place du css */
html, body 
{
    height: 1000px;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;


}

/* le contenu de la page */

/* icon */
#dl
{
    position: absolute;
    right: 20px;
    bottom: 18px;
}
#slash
{
    position: absolute;
    right: 100px;
    bottom: 18px;
}

/* header */
#header
{
    border-bottom: 2px solid blue;

}

/* mise en page du h2 */
.para
{
    border-bottom: solid black 2px;
      
}


/* div */
#grosbloc
{
    width: 990px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

/* bloc gauche donc le texte */
#blocg
{
    display:block;
    float: left;
    width: 480px;
}

/* bloc droite donc l'image */
#blocd
{
   display:block;
   float:right;
    width: 480px;
    padding: 80px;
   

}

/* Image */
.ima
{

    box-shadow: 1px 4px 6px rgb(0, 0, 0);
    width: 350px;
    height: 200px;
    
}
#gallery > img 
{
    float: left;
    margin-right: 30px;
    margin-bottom: 30px;
}

#gallery > img:nth-child(even)
{
    margin-right: 0px;
}
/* ajustement texte */
#text
{
 margin-left: auto;
}

/* Fin de la Page */

/* Par Paul Berthelot */

